html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  transition: all 0.3s ease;
}

body {
  background: url('../images/background-dot-pattern.png') repeat;
}

h1 {
  font-size: 3.5rem;
  margin: .2rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

h2 {
  font-weight: normal;
  margin: 0;
}

p { margin: .2rem; }

.medium-size { font-size: 1.32rem; }
.small-size { font-size: 1rem; }

a, a:hover, a:visited { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

ul { margin: 0; padding:0; }
ul li {
  list-style: none;
  display: inline-block;
  margin-left: .5rem;
}
ul li:first-child { margin: 0; }
ul li a { font-size: 2rem; }
ul li a:hover { text-decoration: none !important; }

#content, #links { margin-top: 6rem ; }

#content {
  text-align: center;
  transition: margin 0.3s ease;
}

#links .contacts { margin-top: .5rem;}