html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  transition: all 0.3s ease;
}

body {
  background-color: rgb(147, 189, 98);
}

h1 {
  font-size: 3.5rem;
  margin: .2rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

h2 {
  font-weight: normal;
  margin: 0;
}

p { margin: .2rem; }

.medium-size { font-size: 1.32rem; }
.small-size { font-size: 1rem; }

a, a:hover, a:visited { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

ul { margin: 0; padding:0; }
ul li {
  list-style: none;
  display: inline-block;
  margin-left: .5rem;
}
ul li:first-child { margin: 0; }
ul li a { font-size: 2rem; }
ul li a:hover { text-decoration: none !important; }

#content, #links { margin-top: 6rem ; }

#content {
  text-align: center;
  transition: margin 0.3s ease;
}

#links .contacts { margin-top: .5rem;}
#links a {
  transition: all 0.3s ease;
  text-shadow: 1px 3px 5px rgba(0,0,0,.1), 0 0 0 #000, 1px 3px 4px rgba(0,0,0,.1);
}
#links a:hover {
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#links a.github:hover { color: #333; }
#links a.fb:hover { color: #49649F; }
#links a.linkedin:hover { color: #1B86BC; }
#links a.twitter:hover { color: #54AAEC; }
#links a.gplus:hover { color: #D73D32; }
